---
---

// Vendor -------------- //

@import 'bourbon/bourbon';
@import 'core/grid-settings';
@import 'neat/neat';


// Core -------------- //

@import 'core/defaults';
@import 'core/variables';
@import 'core/utilities';
@import 'core/normalize';
@import 'core/base';
@import 'core/grid';

// Elements ---------- //
// Styles basic html elements.

@import 'elements/inline';
@import 'elements/typography';
@import 'elements/list';
@import 'elements/table';
@import 'elements/aside';
@import 'elements/blockquote';
@import 'elements/figure';
@import 'elements/form';


// Content Patterns ---------- //


// Site Patterns //

@import 'patterns/global-header';
@import 'patterns/global-footer';
@import 'patterns/secondary-header';
@import 'patterns/nav-breadcrumbs';
@import 'patterns/nav-services';
@import 'patterns/nav-sub-services';
@import 'patterns/section-slab';
@import 'patterns/form-search-site';


// Templates --------- //
// Styles specific page templates

@import 'templates/home';
@import 'templates/service';
@import 'templates/sub-service';
@import 'templates/article';
// @import 'templates/event';
// @import 'templates/job';


// Themes ------------ //

// @import 'themes/cfa';
@import 'themes/usa';
// @import 'themes/wireframe';

// Hacks --------- //
// Temporary solutions until a better permanant solution is found

@import 'shame';

