---
---

@import 'vendor/bourbon/bourbon';
@import 'core/defaults';
@import 'core/utilities';

$width-nav-sidebar: 250px;

.template-styleguide {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	> .global-header {
		@include clearfix();
		position: fixed;
		z-index: 2;
		top: 0;
		left: 0;
		right: 0;

		h1 {
			font-size: $h4-font-size;
			display: inline-block;
			font-family: $font-sans;
			.subtitle {
				font-weight: 400;
				border-left: 1px solid $color-grey-800;
				margin-left: .5em;
				padding-left: .5em;
			}
		}
	}

	code {
		font-family: "Source Code Pro", "Courier New", mono;
		font-weight: 400;
	}

	.button-toggle-sidebar {
		background-color: transparent;
		border: 0;
		color: #000;
		width: 1.5em;
		margin-right: 1em;
		display: inline-block;
		font-family: 'FontAwesome';
		text-decoration: none;

		&:before {
			content: '\f0c9';
		}
		.sidebar-open & {
			&:before {
				content: '\f00d';
			}
		}

		@include media($tablet-up + $width-nav-sidebar) {
			display: none;
		}
	}

	> .sidebar {
		@include transition(margin-left .2s ease-out);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: $width-nav-sidebar;
		padding: 1em 2em;
		padding-top: 6em;
		overflow: auto;
		margin-left: -$width-nav-sidebar;
		z-index: 1;
		background-color: #fff;

		.sidebar-open & {
			margin-left: 0;
			border-right: 1px solid $color-grey-300;
		}

		.lt-ie9 & {
			width: 25%;
		}

		@include media($tablet-up + $width-nav-sidebar) {
			display: block;
			margin-left: 0;
		}
	}

	.main-content {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
		width: 100%;
		padding-top: 6em;

		.lt-ie9 & {
			width: 75%;
		}

		@include media($tablet-up + $width-nav-sidebar) {
			width: calc(100% - #{$width-nav-sidebar});
			.lt-ie9 & {
				width: 75%;
			}
		}
	}

	.style-guide-content {
		position: relative;
		padding: 1em 2em;
		
		> h1 {
			border-bottom: 1px solid $color-grey-300;
			padding-bottom: .5em;
		}
		>h1, >h2, >h3, >h4, >h5, >h6, >p, >ul, >ol {
			max-width: 600px;
		}
	}

	//Pattern Preview Boxes
	.preview {
		@include clearfix();
		background-color: #fff;
		margin: 2em 0;
		padding: 1em $site-margins;
		border: 1px solid $color-grey-200;
		.is-peripheral {
			opacity: .2;
		}
		ul {
			list-style-type: none;
		}
	}

	//Code Sample Boxes
	.code-sample {
		@include clearfix();
		border: 1px solid $color-grey-200;
		background-color: $color-grey-50;
		margin: 2em 0;

		&.is-open {
			.button-toggle:before {
				content: 'Hide code';
			}
			pre {
				padding-top: 0;
				display: block;
				line-height: 1em;
				font-size: $small-font-size;
			}
		}
		.button-toggle {
			font-size: $small-font-size;
			display: block;
			padding: .5em $site-margins;
			text-decoration: underline;
			&:before {
				content: 'Show code';
			}
		}
		pre {
			display: none;
			background-color: transparent;
			overflow-y: hidden;
			code {
				background-color: transparent;
			}			
		}
	}

	.preview + .code-sample {
		margin-top: -2em;
		border-top: 0px;
	}

	// Custom Styles to illustrate invisible patterns for style guide
	
	.grid-box-example {
		.grid-item {
			padding: 1em;
			background: $color-grey-200;
			margin: {
				top: .5em;
				bottom: .5em;
			};
		}
	}
	.slab-example {
		background-color: $color-grey-100;
	}
}