// Typography
$em-base:				10px;
$base-font-size:		rem(19px);
$small-font-size:		rem(16px);
$title-font-size:		rem(36px);
$h1-font-size:			rem(28px);
$h2-font-size:			rem(24px);
$h3-font-size:			rem(19px);
$h4-font-size:			rem(16px);
$h5-font-size:			rem(14px);
$h6-font-size:			rem(12px);
$base-line-height:		1.5em;
$tight-line-height:		1.3em;	// Useful for headings,  or narrow columns of text

$font-sans: 			'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
$font-serif:			'Source Serif Pro', 'Georgia', 'Times New Roman', serif;
$font-icon:				'FontAwesome';

// Color
$color-grey-50:			#fafafa;
$color-grey-100:		#f5f5f5;
$color-grey-200:		#eeeeee;
$color-grey-300:		#e0e0e0;
$color-grey-400:		#bdbdbd;
$color-grey-500:		#9e9e9e;
$color-grey-600:		#757575;
$color-grey-700:		#616161;
$color-grey-800:		#424242;
$color-grey-900:		#212121;

$color-primary:			#0071bc;
$color-danger:			#D33838;
$color-caution:			#F5A623;
$color-success:			#00a175;



// Mobile First Breakpoints
$mobile-up:				481px;
$tablet-up:				600px;
$widescreen-up:			1201px;


// Magic Numbers
$site-max-width:		960px;
$site-margins:			25px;
$border-radius:			0px;