.template-article {
	margin: 0 auto 6em auto;
	max-width: $site-max-width;
	.secondary-header {
		border-bottom: 1px solid $color-grey-200;
		margin-bottom: 4em;
		h1 {
			font-size: $title-font-size;
		}
	}
}

.article-content {
	max-width: $article-max-width;
}

article {

	aside[class^="width"], figure[class^="width"] {
		& + p {
			@include media($tablet-up) {
				margin-top: 0;
			}
		}
	}
}