.template-home {

	.section-slab-hero {
		text-align: left;
		background-color: $color-grey-200;
		background-image: url('../media/images/hero_merriweather.jpg');
		background-position: center center;

		height: 200px;
		@include media($tablet-up) {
			height: 400px
		}
	}

	.section-slab-city-services, .section-slab-press-releases {
		h1 {
			@include h3;
			margin-bottom: 3em;
			@include media($tablet-up) {
				text-align: center;
			}
			
		}
		h2 {
			@include h4;
			margin: 0;
		}
		p {
			color: $color-grey-800;
			font-weight: 300;
		}
	}

	.section-slab-city-services {
		@include media($tablet-up) {
			margin-top: 3em;
		}
		.category {
			height: rem(150px);
			margin-bottom: 1.5em;
			@include omega(3n);
			padding-right: 2em;
		}

	}

	.section-slab-press-releases {
		.press-release {
			margin-bottom: 3em;
		}
	}
}