.template-home {

	.section-slab-hero {
		text-align: left;
		background-color: $color-grey-200;
		background-image: url('../media/images/hero_springfield.png');
		background-position: center center;
		border-bottom: 3px solid #000;
		height: 200px;
		@include media($tablet-up) {
			height: 400px
		}
	}

	.section-slab-city-services, .section-slab-press-releases {
		h1 {
			@include h1;
			padding-bottom: 1em;
		}
		h2 {
			@include h3;
			margin: 0;
		}
		p {
			font-style: italic;
		}
	}

	.section-slab-city-services {
		.category {
			height: rem(150px);
			padding: 1.5em 0;
			&:nth-child(2n) {
				@include omega();
			}
		}

	}

	.section-slab-press-releases {
		.press-release {
			padding: 1.5em 0;
		}
	}
}