.template-sub-service {
	margin: 0 auto;
	max-width: $site-max-width;

	.nav-sub-services {
		border-right: 4px solid $color-grey-200;
		margin-right: 2em;
		display: none;

		@include media($tablet-up) {
			display: block;
		}
		
		li {
			padding: 1em;
		}
	}

	.nav-article-list {
		padding: 1em 0;
		h1 {
			margin-top: 0;
			font-size: $h3-font-size;
		}
		ul {
			margin: 2em 0;
		}
		li {
			.article-link {
				font-weight: 700;
			}
		}
	}
}