.site-search {
	@include clearfix();
	border-bottom: 2px solid #000;
	input[type="search"], input[type="submit"] {
		margin: 0;
		float: left;
		height: 3em;
		border: 0;
		background-color: #fff;
		outline: none;
		&:focus {
			outline: 0;
			box-shadow: none;
		}
	}
	input[type="search"] {
		width: calc(100% - 60px);

		.lt-ie9 & {
			width: 85%;
		}
	}
	input[type="submit"] {
		width: 60px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 60%;
		font-family: "FontAwesome";
		font-weight: 400;
		border: 0;

		&:hover {
			background-color: $color-grey-100;
		}

		.lt-ie9 & {
			width: 15%;
		}
	}
}