.site-search {

	input[type="search"], input[type="submit"] {
		margin: 0;
		float: left;
		height: 2em;
	}
	input[type="search"] {
		width: calc(100% - 45px);
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-color: $color-grey-300;
		.lt-ie9 & {
			width: 85%;
		}
	}
	input[type="submit"] {
		position: relative;
		width: 40px;
		background-size: auto 70%;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		font-family: "FontAwesome";
		font-weight: 400;
		border: 0;

		&:before {
			content: "\f002";
		}

		.lt-ie9 & {
			width: 15%;
			text-indent: 0;
			background-image: none;
		}
	}
}