.site-search {
	margin-top: .8em;
	.site-search-input, .site-search-button {
		margin: 0;
		float: left;
		height: 3em;
		background-color: $color-grey-100;
	}
	.site-search-input {
		width: calc(100% - 60px);
		border: 0;

		.lt-ie9 & {
			width: 85%;
		}
	}
	.site-search-button {
		width: 60px;
		text-indent: -9999px;
		background-image: url('ui/icon_search.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 60%;

		&:hover {
			background-color: $color-grey-200;
		}
		
		.lt-ie9 & {
			width: 15%;
			background-image: url('ui/icon_search_ie.png');
		}
	}
}