.global-header {
	padding: 1em $site-margins;
    background-color: $color-blue;
    color: #fff;

	h1 {
		@include h3;
        color: #fff;
		margin: .6em 0;

		a {
            background-image: url('../media/images/logo_orlando.png');
            background-size: 2em auto;
            background-repeat: no-repeat;
            background-position: right center;
            padding: .5em 3em .5em 0;
			color: inherit;
            display: block;
			text-decoration: none;
            @include media($tablet-up) {
                background-position: left center;
                padding: .5em 0 .5em 3em;
            }
		}
	}

    .site-search {
        margin-top: 1.2em;
    }

}