.global-footer {
	background-color: $color-grey-100;
	border-top: 1px solid $color-grey-300;
	margin-top: 4em;
	padding: 2em $site-margins;
	font-size: $small-font-size;
	color: $color-grey-600;

	h1 {
		margin-bottom: 2em;
	}

	p {
		font-size: $small-font-size;
	}

	.social-bar {
		margin-bottom: .5em;
		a {
			font-size: $h2-font-size;
			text-decoration: none;
			color: $color-grey-700;
			margin-right: .5em;
		}
	}

	.footer-menu {
		margin-bottom: 1em;
	}
	
	.footer-mayor-image {
		width: 6em;
		margin-bottom: 1.5em;
	}
}