.global-header {
	padding: 3em $site-margins;

	h1 {
		@include h2;
		margin: .6em 0;

		a {
            background-image: url('../media/images/logo_merriweather.png');
            background-size: 2em auto;
            background-repeat: no-repeat;
            background-position: right center;
            padding: .5em 3em .5em 0;
			color: inherit;
            display: block;
			text-decoration: none;

			.lt-ie9 & {
				background-image: url('../media/images/logo_merriweather_ie.png');
			}
            @include media($tablet-up) {
                background-position: left center;
                padding: .5em 0 .5em 3em;
            }
		}
	}

    .site-search {
        margin-top: .6em;
    }

}