.nav-breadcrumbs {
    margin: 1em 0;
    font-size: $small-font-size;
}

.nav-breadcrumbs-item {
    margin-right: .5em;
    font-weight: 400;
    color: $color-grey-800;
    a {
        font-weight: 300;
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }
    &:not(:last-of-type) {
    	&:after {
            @include icon();
        	margin-left: .5em;
        	content: '\f178';
            color: $color-grey-300;
        }
    }
    
}