.nav-breadcrumbs {
    margin: 1em 0;
}

.nav-breadcrumbs-item {
    margin-right: .5em;

    &:not(:last-child) {
        &:after {
            margin-left: .5em;
            content: '→';
        }
    }
    
}