.nav-categories {
	display: none;
	padding: 1em 0;
	margin-right: 2em;
	overflow: hidden;

	@include media($tablet-up) {
		display: block;
	}
	li {
		margin-right: 0;
		padding: .5em;
		min-width: 10em;
		font-family: $font-serif;
		font-size: $small-font-size;
		border-bottom: 1px solid $color-grey-200;
		a {
			color: inherit;
			text-decoration: none;
		}
		&.is-selected {
			font-weight: 700;
		}
	}
}