.nav-categories {
	display: none;
	padding: 1em 0;
	border-right: 4px solid $color-green;
	margin-right: 2em;
	overflow: hidden;

	@include media($tablet-up) {
		display: block;
	}
	li {
		margin-right: 0;
		padding: .5em;
		min-width: 10em;
		&.is-selected {
			font-weight: bold;
			background-color: $color-green;
			
			a {
				color: #fff;
			}
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}