.nav-breadcrumbs {
    margin: 1em 0;
}

.nav-breadcrumbs-item {
    margin-right: .5em;
    color: $color-red;
    a {
        color: $color-grey-700;
    }
    &:not(:last-of-type) {
    	&:after {
        	margin-left: .5em;
        	content: '→';
        }
    }

    .lt-ie9 & {
    	a {
    		text-decoration: none;
    		&:after {
    			margin-left: .5em;
    			content: '→';
    		}
    	}
    }
    
}