.section-slab {
	margin: {
		left: -$site-margins;
		right: -$site-margins;
	}
	padding: 4em $site-margins;
	border-bottom: 4px solid $color-grey-200;

	&:last-of-type {
		border-bottom: 0;
	}

	h1, h2, h3, h4, h5, h6, .grid-box {
		max-width: $site-max-width;
		margin: {
			left: auto;
			right: auto;
		}
	}
	h1 {
		margin-top: 0;
	}
}