.site-search {
	input[type="search"], input[type="submit"] {
		margin: 0;
		float: left;
		height: 2em;
	}
	input[type="search"] {
		width: calc(100% - 45px);
	}
	input[type="submit"] {
		width: 40px;
		text-indent: -9999px;
		background-image: url('ui/icon_search.svg');
		background-repeat: no-repeat;
	}
}