<footer class="global-footer">
    <div class="grid-box">
        <div class="grid-item width-one-fourth">
         	<h1 class="h3">City of {{site.city}}</h1>
            <div class="address">
                <p>155 9th St.</p>
                <p>San Francisco, CA 94103</p>
                <p>(415)625-9633</p>
            </div>
            <p>© 2015 City of {{site.city}}</p>
        </div>
        <div class="grid-item width-one-third shift-one-twelfth">
        	<ul class="social-media toolbar">
                <li class="toolbar-item"><a href="#" class="fa fa-facebook-official"></a></li>   
                <li class="toolbar-item"><a href="#" class="fa fa-twitter"></a></li>
                <li class="toolbar-item"><a href="#" class="fa fa-email"></a></li>
            </ul>
        	<div class="footer-nav">
        		<ul>
                    <li>Services</li>      
                    <li>Initiatives</li>
                    <li>Announcements</li>
                    <li>Departments</li>
                </ul>
                <ul>
                    <li>Jobs</li>
                    <li>Events</li>
                    <li>Records</li>
                    <li>Give Feedback</li>
                </ul>
        	</div>
        </div>
		<div class="width-one-fourth shift-one-twelfth">
			mayor
		</div>
    </div>
</footer>
