<footer class="global-footer">
    <div class="grid-box">
        <div class="grid-item width-one-fourth">
         	<h1 class="h3"><img class="header-icon-large" src="/media/images/springfield_logo.png"/>City of {{site.city}}</h1>
            <div class="address">
                <p>155 9th St.</p>
                <p>San Francisco, CA 94103</p>
                <p>(415)625-9633</p>
            </div>
            <p>© 2015 City of {{site.city}}</p>
        </div>
        <div class="grid-item width-one-third shift-one-twelfth">
        	<div class="social-bar menu-bar">
                <a class="menu-item" href="#"><span class="fa fa-facebook-official"></span></a>   
                <a class="menu-item" href="#"><span class="fa fa-twitter"></span></a>
                <a class="menu-item" href="#"><span class="fa fa-envelope"></span></a>
            </div>
        	<div class="grid-box footer-menu">
        		<div class="menu grid-item width-one-half">
                    <a href="" class="menu-item">Services</a>      
                    <a href="" class="menu-item">Initiatives</a>
                    <a href="" class="menu-item">Announcements</a>
                    <a href="" class="menu-item">Departments</a>
                </div>
                <div class="menu grid-item width-one-half">
                    <a href="" class="menu-item">Jobs</a>
                    <a href="" class="menu-item">Events</a>
                    <a href="" class="menu-item">Records</a>
                    <a href="" class="menu-item">Give Feedback</a>
                </div>
        	</div>
        </div>
		<div class="footer-mayor width-one-fourth shift-one-twelfth">
            <a href="#" class="menu-item">
                <img class="footer-mayor-image" src="/media/images/mayor.png" alt="Portrait of the mayor">
                <p><b>Our Mayor: Jen Pahlka</b></p>
                <p>Vist the mayor's page</p>
            </a>

		</div>
    </div>
</footer>
