<div class="disclaimer">
	<p><b>This site is a working beta</b>. Information found here may be incomplete and inaccurate. <a href="">Learn more</a></p>
</div>
<header class="global-header">
	<div class="grid-box">
		<div class="align-left">
		    <h1 class="global-header-title"><img class="header-icon" src="/media/images/springfield_logo.png"/><a href="/">City of {{ site.city }}</a></h1>
		</div>
		<div class="bar-menu global-header-menu align-right">
			<a href="#" class="menu-item">Services</a>
			<a href="#" class="menu-item">Announcements</a>
			<a href="#" class="menu-item">Events</a>
			<a href="#" class="menu-item">More</a>
			<a href="#" class="menu-item js-search-button"><span class="fa fa-search"></span></a>
		</div>
	</div>
</header>
<div class="global-header-search">
	<form action="" class="searchbar">
		<input class="searchbar-input" type="search" placeholder="How can we help you?">
		<input class="searchbar-button" type="submit" value="&#xf002">
	</form>
</div>
