aside {
	@include allow-layout-classes();
	background-color: $color-grey-800;
	color: #fff;
	padding: 1.5em 2em;
	margin: {
		top: 2em;
		bottom: 2em;
	}

	a {
		color: #fff;
		text-decoration: underline;
		&:hover, &:visited, &:active {
			color: #fff;
		}
	}

	& *:first-child {
		margin-top: 0;
	}

	& *:last-child {
		margin-bottom: 0;
	}
}