aside {
	@include allow-layout-classes();
	background-color: $color-blue;
	color: #fff;
	padding: 1.5em 2em;
	margin: {
		top: 2em;
		bottom: 2em;
	}

	& *:first-child {
		margin-top: 0;
	}

	& *:last-child {
		margin-bottom: 0;
	}
}