// Buttons
.button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="image"],
button[type="button"],
button[type="submit"],
button[type="reset"] {
	-webkit-appearance: none;
	font-weight: bold;
	background-color: $color-grey-300;
	border: 1px solid $color-grey-300;
	border-radius: $border-radius;
	font-size: $base-font-size;
	text-align: center;
	margin: {
		top: .5em;
		bottom: .5em;
		right: .5em;
	}
	outline: none;
	padding: .3em .5em;
	text-decoration: none;
	&:hover {
		background-color: $color-grey-500;
		border: 1px solid $color-grey-500;
		text-decoration: none;
	}
	&:active {
		background-color: $color-grey-600;
		border: 1px solid $color-grey-600;
		text-decoration: none;
	}
	&:focus {
		border: 1px solid $color-base-link;
		box-shadow: 0 0 0 1px $color-base-link;
		text-decoration: none;
	}
}

input[type="submit"]:disabled, button[type="submit"]:disabled {
	background-color: $color-grey-300;
	color: $color-grey-500;
	cursor: not-allowed;
	&:hover {
		background-color: $color-grey-300;
		border: 1px solid $color-grey-300;
	}
}

button.button-primary, .button.button-primary {
	color: #fff;
	background-color: $color-base-link;
	border-color: $color-base-link;
	&:hover {
		background-color: shade($color-base-link, 20%);
		border-color: shade($color-base-link, 20%);
	}
}

button.button-danger, .button.button-danger {
	color: $color-red;
	background-color: transparent;
	border-color: $color-grey-400;
	&:hover {
		background-color: transparent;
		border-color: $color-grey-600;
	}
}

button.button-outline, .button.button-outline {
	color: $color-grey-700;
	background-color: transparent;
	border-color: $color-grey-400;
	&:hover {
		background-color: transparent;
		border-color: $color-grey-600;
	}
}

button.button-large, .button.button-large {
	padding: .5em 1em;
}

button.button-linkout, .button.button-linkout {
	&:after {
		@include icon();
		margin-left: 1em;
		content: '\f054';
	}
}

button.button-download, .button.button-download {
	&:after {
		@include icon();
		margin-left: 1em;
		content: '\f019';
	}
}