figure {
	@include allow-layout-classes();
	margin: {
		top: 2em;
		bottom: 2em;
	}
	width: 100%;

	img {
		max-width: 100%;
	}
	figcaption {
		margin-top: 1em;
		font-size: $small-font-size;
		color: $color-grey-700;
	}


}

