// Make lists unstyled by default
ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@mixin list-bulleted() {
	list-style-type: disc;
	padding-left: 2em;
	margin: {
		top: 2em;
		bottom: 2em;
	}
	li {
		line-height: $base-line-height;
		margin: {
			top: 1em;
			bottom: 1em;
		}
	}
}

@mixin list-decimal() {
	list-style-type: decimal;
	padding-left: 2em;
	margin: {
		top: 2em;
		bottom: 2em;
	}
	li {
		line-height: $base-line-height;
		margin: {
			top: 1em;
			bottom: 1em;
		}
	}
}


article {
	ul {
		@include list-bulleted();
	}
	ol {
		@include list-decimal();
	}
}
