table {
	margin: 2em 0;
	min-width: 100%;
	thead {
		th {
			text-align: left;
			background-color: $color-grey-300;
		}
	}
	th, td {
		padding: .5em 1em;
	}
	tbody {
		tr {
			border-bottom: 1px solid $color-grey-300;
			&:last-of-type {
				border-bottom: 0;
			}
		}
	}
}