aside {
	background-color: $color-grey-200;
	border: 1px solid $color-grey-300;
	padding: 1em 1.5em;
	margin: {
		bottom: 1em;
	}

	& *:first-child {
		margin-top: 0;
	}

	& *:last-child {
		margin-bottom: 0;
	}

	a {
		color: inherit;
		&:hover, &:active, &:visited {
			color: inherit;
		}
	}
}