.breadcrumbs {
    margin: 1em auto 4em auto;
    font-size: $small-font-size;
    max-width: $site-max-width;
}

.breadcrumbs-item {
    display: inline-block;
    margin-right: .5em;
    margin-bottom: .5em;
    font-weight: 400;
    color: #000;
    a {
        text-decoration: none;
        color: $color-grey-600;
        &:hover {
            text-decoration: underline;
            color: #000;
        }
    }
    &:not(:last-of-type) {
    	&:after {
            @include icon();
        	margin-left: .5em;
        	content: '\f178';
            color: $color-grey-300;
        }
    }    
}