.disclaimer {
	background-color: $color-grey-100;
	border-bottom: 1px solid $color-grey-300;
	padding: .5em $site-margins;
	p {
		margin: 0 auto;
		max-width: $site-max-width;
		font-size: $small-font-size;
	}
}