.sidebar {
	p {
		font-size: $small-font-size;
	}
	h2 {
		font-size: $small-font-size;
		font-family: $font-sans;
		font-weight: 400;
	}
}

.sidebar-menu {
	margin-bottom: 4em;
	margin-left: -.5em;

	> li {
		margin: 0;
		&:not(:last-child) {
			border-bottom: 1px solid $color-grey-200;
		}
		> a {
			color: inherit;
			text-decoration: none;
			display: block;
			font-family: $font-serif;
			font-size: $small-font-size;
			color: $color-grey-700;
			padding: .5em .5em;
			&:hover {
				background-color: $color-grey-100;
				border-left: 3px solid $color-primary;
				margin-left: -3px;
				color: #000;
			}
		}
		&.is-selected {
			> a {
				background-color: $color-grey-100;
				border-left: 3px solid $color-primary;
				margin-left: -3px;
				color: #000;
			}
		}
	}
}

.sidebar-menu-sublist {
	> li {
		font-family: $font-sans;
		font-size: $small-font-size;
		font-weight: 400;
		margin-bottom: 1em;
		color: $color-grey-800;
		&:first-child {
			margin-top: .5em;
		}
		&:last-child {
			margin-bottom: 1em;
		}
		> a {
			display: block;
			position: relative;
			color: inherit;
			text-decoration: none;
			line-height: $tight-line-height;
			padding: 0 1.5em;
			&:hover {
				color: $color-primary;
			}
		}
		&.is-selected {
			> a {
				color: $color-primary;
				&:after {
					@include icon();
					position: absolute;
					top: 50%;
					margin-top: -$tight-line-height/2;
					right: .5em;
					content: "\f054";
				}
			}
		}
	}
}