---
"layout": |-
  base
---

<div class="template-article">

    <header class="secondary-header">
        <nav class="nav-breadcrumbs">
            <span class="nav-breadcrumbs-item"><a href="{{ site.url }}">{{ site.city }}</a></span>
            {% for crumb in page.breadcrumbs %}
             <span class="nav-breadcrumbs-item">{% if forloop.rindex0 > 0 %}<a href="{{ crumb['link_path'] }}">{% endif %}{{ crumb['title'] }}{% if forloop.rindex0 > 0 %}</a>{% endif %}</span>
            {% endfor %}
        </nav>
        <h1>{{ page.title }}</h1>
    </header>

    <article class="article-content">
        {{ content }}
    </article>

</div>
