---
"layout": |-
  base
---

<div class="template-article">

    <header class="secondary-header">
        <nav class="nav-breadcrumbs">
            <span class="nav-breadcrumbs-item"><a href="{{ site.url }}">{{ site.city }}</a></span>
            {% for crumb in page.breadcrumbs %}
             <span class="nav-breadcrumbs-item">{% if forloop.rindex0 > 0 %}<a href="{{ crumb['link_path'] }}">{% endif %}{{ crumb['title'] }}{% if forloop.rindex0 > 0 %}</a>{% endif %}</span>
            {% endfor %}
        </nav>
    </header>

    <div class="grid-box">
        <div class="width-one-fourth sidebar">
            <h2>People who viewed this page also viewed</h2>
            <ul class="sidebar-menu">
                <li><a href="#">Example Article</a></li>    
            </ul>
            <h2>This article is maintained by</h2>
            <ul class="sidebar-menu">
                <li><a href="#">Public Works</a></li>    
                <li><a href="#">Permitting</a></li>
            </ul>
        </div>
        <article class="article-content width-two-thirds shift-one-twelfth">
            <header class="content-header">
                <h1>{{ page.title }}</h1>
            </header>
            {{ content }}
        </article>

    </div>


</div>
