<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html>                     <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

<p>The value of structure is {{ page.structure }}</p>

{% assign my_path_list = page.path | split: "/" | pop %}
{% assign my_cat_path = my_path_list | join: "/" %}
<p>My <strong>path</strong>={{ my_cat_path }}</p>
{% assign pages = site.pages | sort:"path" %}
{% for check_page in pages %}
    {% assign page_path_list = check_page.path | split: "/" | pop %}
    {% assign page_cat_path = page_path_list | join: "/" %}
    {% if check_page.layout == 'category' or check_page.layout == 'subcategory' or check_page.layout == 'article' %}
    <p><strong>====</strong> <strong>title</strong>={{ check_page.title }} <strong>path</strong>={{ page_cat_path }} <strong>layout</strong>={{ check_page.layout }}</p>
    {% endif %}
{% endfor %}

    {% include footer.html %}
    <!--[if lt IE 9]>
      <script src="{{ '/js/rem.min.js' | prepend: site.baseurl }}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  </body>

</html>
