<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html>                     <!--<![endif]-->

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

<table>
  <tr>
  {% for column in page.columns %}
    <td>
      <p><strong>{{ column['title'] }}</strong></p>
      {% for show_page in column['pages'] %}
      <p><a href="{{ show_page['link_path'] }}">{% if show_page['selected'] %}<strong>{% else %}<em>{% endif %}{{ show_page['title'] }}{% if show_page['selected'] %}</strong>{% else %}</em>{% endif %}</a></p>
      {% endfor %}
    </td>
  {% endfor %}
  </tr>
</table>

    {% include footer.html %}
    <!--[if lt IE 9]>
      <script src="{{ '/js/rem.min.js' | prepend: site.baseurl }}"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
    <![endif]-->
  </body>

</html>
