---
"layout": |-
  base
---

<div class="template-category" role="main">

    <header class="secondary-header">
        <nav class="breadcrumbs" role="navigation">
            <span class="breadcrumbs-item"><a href="{{ site.url }}">{{ site.city }}</a></span>
            {% for crumb in page.breadcrumbs %}
             <span class="breadcrumbs-item">{% if forloop.rindex0 > 0 %}<a href="{{ crumb['link_path'] }}">{% endif %}{{ crumb['title'] }}{% if forloop.rindex0 > 0 %}</a>{% endif %}</span>
            {% endfor %}
        </nav>
    </header>
    <div class="grid-box">
        <div class="sidebar grid-item width-one-fourth">
            <ul class="sidebar-menu">
                {% for topic in page.columns[0]['pages'] %}
                <li class="{% if topic.selected %}is-selected{% endif %}">
                    <a href="{{ topic.link_path }}">{{ topic.title }}</a>
                    {% if topic.selected %}
                    <ul class="sidebar-menu-sublist">
                        {% for subtopic in page.columns[1]['pages'] %}
                        <li class="{% if subtopic.selected %}is-selected{% endif %}"><a href="{{ subtopic.link_path }}">{{ subtopic.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="grid-item width-seven-twelfths shift-one-twelfth">
            <header class="content-header">
                {% assign current_column = page.columns|last %}
                <h1>{{ current_column.title }}</h1>
            </header>
            <div class="large-menu">
                {% for page in current_column['pages'] %}
                <a class="menu-item" href="{{ page.link_path }}" >
                    <p class="large-text">{{ page.title }}</p>
                    <p class="detail-text">{{ page.description }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
