---
"layout": |-
  base
"role": |-
  homepage
---

<div class="template-home" role="main">
<!--     <div class="alert--danger">
      <p class="alert__content"><span class="alert__title">City Alert</span><span class="alert__message">7.0 magnitude earthquake reported in the vicinity. </span><a href="#" class="alert-action">Learn about what you need to know</a></p>
    </div> -->
    <section class="slab slab-hero">
    </section>
    <section class="slab city-services">
      <div class="grid-box">
          <div class="width-one-whole panel">
            <div class="grid-box">
              <form class="searchbar width-two-thirds" role="search">
                <input class="searchbar-input" type="search" placeholder="How can we help you?">
                <button class="searchbar-button" type="submit"></button>
              </form>
              <div class="hero-credits width-one-third">illustration by J.B. Ingwersen, 1960-1965</div>
            </div>

            <div class="grid-box">
                <ul class="medium-menu grid-item width-one-third">
                    {% for show_page in page.columns[0]['pages'] %}
                    {% assign modulo = forloop.index0|modulo:3 %}
                    {% if modulo == 0 %} 
                      <a href="{{ show_page['link_path'] }}" class="menu-item">
                          <h3>{{ show_page['title'] }}</h3>
                          <p class="detail-text">{{ show_page['description'] }}</p>
                      </a>  
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="medium-menu grid-item width-one-third">
                    {% for show_page in page.columns[0]['pages'] %}
                    {% assign modulo = forloop.index0|modulo:3 %}
                    {% if modulo == 1 %} 
                      <a href="{{ show_page['link_path'] }}" class="menu-item">
                          <h3>{{ show_page['title'] }}</h3>
                          <p class="detail-text">{{ show_page['description'] }}</p>
                      </a>  
                    {% endif %}
                    {% endfor %}
                </ul>
                <ul class="medium-menu grid-item width-one-third">
                    {% for show_page in page.columns[0]['pages'] %}
                    {% assign modulo = forloop.index0|modulo:3 %}
                    {% if modulo == 2 %} 
                      <a href="{{ show_page['link_path'] }}" class="menu-item">
                          <h3>{{ show_page['title'] }}</h3>
                          <p class="detail-text">{{ show_page['description'] }}</p>
                      </a>  
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
          </div>
      </div>
    </section>
    <section class="slab announcements">
        <h2>Announcements</h2>
        <div class="grid-box">
          <a href="/announcements/06-25-2015-zero-waste-services.html" class="announcement grid-item width-one-third">
            <header>
              <img src="/media/images/zero_waste.png" alt="Zero Waste">
              <h3>New Zero Waste Services Started July 1</h3>
              <p class="date">June 25th, 2015</p>
            </header>
            <p class="detail-text">Oakland’s new trash, compost and recycling services started July 1. We’re excited the day is finally here! All apartment and condo residents now have green compost carts.</p>
          </a>
          <a href="#" class="announcement grid-item width-one-third">
            <header>
              <h3>Support Youth through Classrooms2Careers</h3>
              <p class="date">June 17th, 2015</p>
            </header>
            <p class="detail-text">We need your help! This summer marks the beginning of a new era for youth in Oakland with the launch of Classrooms2Careers, a fresh approach to youth employment and enrichment based on the Earn and Learn model.å</p>
          </a>
          <a href="#" class="announcement grid-item width-one-third">
            <header>
              <h3>Introducing SpeakUp Oakland</h3>
              <p class="date">June 3th, 2015</p>
            </header>
            <p class="detail-text">This new public engagement portal enables residents to provide feedback on a variety of topics and legislative items coming before City Council. It increases the public’s comment ability beyond the usual two-minute time limit for…</p>
          </a>
        </div>
      </div>
    </section>
    <section class="slab">
      <h2>City Government</h2>
      <div class="grid-box panel">
        <div class="menu-medium grid-item width-one-third">
          <a href="#" class="menu-item">
            <p>Police Department</p>
          </a>
          <a href="#" class="menu-item">
            <p>Fire Department</p>
          </a>
          <a href="#" class="menu-item">
            <p>Parks &amp; Recreation</p>
          </a>
          <a href="#" class="menu-item">
            <p>Public Works</p>
          </a>
        </div>
        <div class="menu-medium grid-item width-one-third">
          <a href="#" class="menu-item">
            <p>Public Library</p>
          </a>
          <a href="#" class="menu-item">
            <p>Economic Development</p>
          </a>
          <a href="#" class="menu-item">
            <p>Planning &amp; Building</p>
          </a>
          <a href="#" class="menu-item">
            <p>Animal Services</p>
          </a>
        </div>
        <div class="menu-medium grid-item width-one-third">
          <a href="#" class="menu-item">
            <p>Boards &amp; Commmission</p>
          </a>
          <a href="#" class="menu-item">
            <p>City Council</p>
          </a>
          <a href="#" class="menu-item">
            <p>Office of the Mayor</p>
          </a>
        </div>
      </div>
    </section>
</div>
