---
"layout": |-
  base
"role": |-
  homepage
---

<div class="template-home">
    
    <section class="section-slab section-slab-hero">
    </section>

    <section class="section-slab section-slab-city-services">
        <h1>Services and Information</h1>
        <div class="grid-box">
            {% for show_page in page.columns[0]['pages'] %}
            <div class="grid-item width-one-third">
                <h2><a href="{{ show_page['link_path'] }}">{{ show_page['title'] }}</a></h2>
                <p>{{ show_page['description'] }}</p>
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="section-slab section-slab-press-releases">
        <h1>News and Press Releases</h1>
        <div class="grid-box">
            <div class="grid-item width-one-half">
                <h2>Apply to the Mayor’s Internship Program</h2>
                <p>Undergraduate and graduate students interested in City government or gaining valuable workplace experience should apply to the MIPs before January 30th, 2015.</p>
            </div>
            <div class="grid-item width-one-half end-row">
                <h2>Message to the Police Department</h2>
                <p>The mayor's video message will be shown at all Police Department Roll Calls across the city beginning Thursday, December 11th until all members of the Department have seen it.</p>
            </div>
        </div>
    </section>

</div>
